In [1]:
# Ruchika Bhat 25070123095
# Aim: Introduction to Python

# printing elements in seperate lines
x,y,z="orange","apple","banana"
print(x,y,z,sep="\n")
print(z)

orange
apple
banana
banana

In [ ]:
x,y,z,w=2,2.3,"ruchika",True #T in True is always in caps(case sensitive)
print(x,y,z,w,sep="\n")
# datatypes
print(type(x))
print(type(y))
print(type(z))
print(type(w))

2
2.3
ruchika
True
<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [2]:
# arithmetic operations
x,y=10,79
print("add=",x+y,"sub=",x-y,"mul=",x*y,"div=",x/y,"exp=",x**y,sep="\n")

add=
89
sub=
-69
mul=
790
div=
0.12658227848101267
exp=
10000000000000000000000000000000000000000000000000000000000000000000000000000000

In [3]:
# taking input from user for arithmetic operations
x=int(input("enter first number:"))
y=int(input("enter second number:"))
print("add=",x+y,"sub=",x-y,"mul=",x*y,"div=",x/y,"exp=",x**y,sep="\n")

enter first number:5
enter second number:6
add=
11
sub=
-1
mul=
30
div=
0.8333333333333334
exp=
15625

In [1]:
 # area of circle
import math
r=float(input("enter radius="))
print("area of circle=",math.pi*(r**2),"sq cm")

enter radius=4
area of circle= 50.26548245743669 sq cm

In [2]:
# logrithm
import math
print("log of 2.5=",math.log(2.5))
x=int(input("enter number:"))
print("log of x=",math.log(x))

log of 2.5= 0.9162907318741551
enter number:6
log of x= 1.791759469228055

In [3]:
# finding greater number
x=int(input("enter number 1:"))
y=int(input("enter number 2:"))
if x>y:
    print(x,"is greater than",y)
else:
    print(x,"isnt greater than",y)

enter number 1:3
enter number 2:7
3 isnt greater than 7